.room_btn {
  background-color: #1790bf;
  color: #ffffff;
}

.room_btn_list {
  background-color: #178fbf8c;
  color: #ffffff;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.color_b {
  background-color: black;
}

.count_style {
  border: 5px solid #1790bf;
  color: #1790bf;
  background-color: #ffffff;
  font-weight: bold;
}
.submit_btn {
  background-color: #17bf4f75;
  color: #ffffff;
  font-size: 1em;
}
.waitCard {
  border: 5px solid #178fbf75;
  color: #105d7c;
  background-color: #ffffff;
}
.card {
  border: 5px solid #17bf4f9a;
  color: #105d7c;
  background-color: #ffffff;
}
.gameEx {
  background-color: #ffffff8c;
  font-size: 1em;
}

.station_style {
  border: 4px solid #178fbfc0;
  color: #1790bf;
  background-color: #ffffff;
  font-weight: bold;
}
.gameCount_style {
  font-size: 2.5em;
  font-weight: bold;
}
.gameResult {
  font-size: 5em;
  font-weight: bold;
  color: #ffbb28;
}
.waitMSG {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffbb28;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
